.wrapper {
  @media (min-width: 768px) {
    &.right {
      column-gap: var(--s-xs);
      display: grid;
      grid-template-columns: auto 1fr;
      position: relative;
      width: 100%;
    }
  }
}

.inputToggle,
.buttonToggle {
  align-items: center;
  display: flex;
  position: relative;
}

.inputToggle {
  min-width: 200px;

  .caret {
    pointer-events: none;
    position: absolute;
    right: var(--s-xs);
  }
}

.input {
  cursor: pointer;
  min-width: 100%;
  text-align: left;
}

.buttonToggle {
  .caret {
    margin-left: var(--s-xs);
  }
}

.content {
  display: none;

  &.active {
    background-color: var(--c-white);
    border-radius: var(--br-xxs);
    display: block;
    left: 16px;
    overflow-y: auto;
    max-height: calc(100% - 32px);
    padding: var(--s-base);
    position: fixed;
    right: 16px;
    top: 16px;
    z-index: var(--zi-dropdown-content);
    
    @media (min-width: 768px) {
      box-shadow: var(--bs-input);
      left: auto;
      overflow: visible;
      max-height: none;
      position: absolute;
      right: auto;
      top: auto;

      &.bottom {
        margin-top: var(--s-xs);
        max-width: 100%;
      }

      &.right {
        grid-column: 2 / -1;
      }
    }
  }
}

.overlay {
  display: none;
  
  &.active {
    background-color: var(--c-dark-30);
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: var(--zi-dropdown-overlay);

    @media (min-width: 768px) {
      display: none;
    }
  }
}

.closeButton {
  padding: var(--s-m) var(--s-xs);
  position: fixed;
  right: 8px;
  top: 8px;
  width: auto;

  @media (min-width: 768px) {
    position: absolute;
    right: -16px;
    top: -16px;
  }
}
