.react-calendar {
  border: none;
  font-family: inherit;
  line-height: inherit;
  width: 100%;

  @media (min-width: 768px) {
    width: 350px;
  }

  button {
    font-family: inherit;
    line-height: inherit;
  }
}

.react-calendar__navigation__prev-button,
.react-calendar__navigation__next-button {
  display: flex;
  justify-content: center;
}

.react-calendar__navigation button,
.react-calendar__navigation button {
  &:enabled {
    &:hover,
    &:focus {
      background: none;
      border-radius: var(--br-xxs);
      box-shadow: var(--bs-input-hover);
    }
  }
  
  &:disabled {
    div::before,
    div::after {
      background-color: var(--c-light);
    }
  }
}

.react-calendar__year-view .react-calendar__tile {
  padding-bottom: 6px;
  padding-top: 6px;
}

.react-calendar__tile {
  display: flex;
  justify-content: center;
  padding: var(--s-xxs);

  abbr {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    max-height: 32px;
    max-width: 32px;
    min-width: 32px;
    padding: var(--s-s);
  }
}

.react-calendar__month-view__days__day:enabled {
  &:hover,
  &:focus {
    background: none;

    abbr {
      box-shadow: var(--bs-input-hover);
    }
  }
}

.react-calendar__tile--active:enabled {
  background: none;
  color: var(--c-white);

  &:hover,
  &:focus {
    abbr {
      background: var(--c-green-darker);
      box-shadow: none;
    }
  }

  abbr {
    background: var(--c-green);
  }
}

.react-calendar__tile:disabled,
.react-calendar__navigation button[disabled] {
  background: none;
  color: var(--c-light);
}

.react-calendar__month-view__weekdays {
  font-weight: var(--fw-regular);
  text-transform: none;
}

abbr[title] {
  text-decoration: none;
}

.react-calendar__year-view__months__month:enabled {
  &:hover,
  &:focus {
    background: none;
    box-shadow: var(--bs-input-hover);

    &.react-calendar__tile--now {
      box-shadow: none;
    }
  }
}

.react-calendar__tile--hasActive:enabled {
  background: var(--c-green);
  color: var(--c-white);

  &:hover,
  &:focus {
    background: var(--c-green-darker);
  }
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__month-view__days__day--weekend {
  color: var(--c-red);
}

.react-calendar__tile--now {
  background: none;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: var(--c-grey);
}
