.wrapper {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: 400px) {
    align-items: center;
    flex-direction: row;
  }
}

.listItem + .listItem {
  margin-top: var(--s-l);

  @media (min-width: 400px) {
    margin-left: var(--s-l);
    margin-top: var(--s-0);
  }
}

.link {
  align-items: center;
  color: var(--c-dark);
  display: flex;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }
}

.icon {
  margin-right: var(--s-xs);
}
