.wrapper {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.listItem + .listItem {
  margin-left: var(--s-l);
}

.link {
  align-items: center;
  color: var(--c-dark);
  display: flex;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }
}

.icon {
  margin-right: var(--s-xs);
}
