.field {
  + .field {
    margin-top: var(--s-l);

    @media (min-width: 768px) {
      margin-top: var(--s-0);
      margin-left: var(--s-xs);
    } 
  }
}

.label {
  display: block;
  font-size: var(--fs-s);
  padding-bottom: var(--s-xs);
}

.input {
  background-color: var(--c-white);
  border-radius: var(--br-xxs);
  border: none;
  box-shadow: var(--bs-input);
  color: var(--c-dark);
  font-family: inherit;
  font-size: inherit;
  outline: none;
  padding: var(--s-xs);
  width: 100%;

  @media(min-width: 768px) {
    max-width: 176px;
  }

  &:hover,
  &:focus {
    box-shadow: var(--bs-input-hover), var(--bs-input);
  }

  &:disabled {
    background-color: var(--c-lighter);
    box-shadow: none;
    color: var(--c-light);
    cursor: not-allowed;
  }
}
