.wrapper {
  align-items: center;
  display: flex;
}

.icon {
  margin-right: var(--s-xs);
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.listItem + .listItem {
  margin-left: var(--s-l);
}

.button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 0;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:focus {
    outline: 0;
  }
}
