.mainFields {
  margin-bottom: var(--s-l);

  @media (min-width: 768px) {
    display: flex;
    margin-bottom: var(--s-base);
  }
}

.dateAndTimeFields {
  @media (min-width: 768px) {
    display: flex;
  }
}

.calendarWrapper {
  margin-bottom: var(--s-l);

  @media (min-width: 768px) {
    margin-bottom: var(--s-0);
    margin-right: var(--s-l);
  }
}

.footer {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}

.moreDetailsDropdown {
  margin-bottom: var(--s-l);

  @media (min-width: 768px) {
    margin-bottom: var(--s-0);
  }
}

.moreDetailsDropdownContent {  
  @media (min-width: 768px) {
    display: flex;
  }
}

.laneInfo {
  margin-bottom: var(--s-l);
  margin-top: var(--s-l);

  @media (min-width: 768px) {
    display: flex;
    margin-bottom: var(--s-0);
  }
}

.laneInfoWrapper {
  @media (min-width: 768px) {
    margin-right: var(--s-l);
  }
}
