:root {
  /* Colors */
  --c-white: #fff;
  --c-lighter: #e1e1e1;
  --c-light: #ccc;
  --c-grey: #757575;
  --c-dark: #3a3a3a;

  --c-green: #4cb114;
  --c-green-darker: #3c8c10;
  --c-red: #f15e61;

  /* Opacity Colors */
  --c-dark-30: #3a3a3a4d;

  /* Font family */
  --ff-body: "Montserrat", sans-serif;

  /* Font size */
  --fs-base: 100%; /* 16px */
  --fs-s: calc(0.75 * var(--fs-base)); /* 12px */
  --fs-m: calc(0.875 * var(--fs-base)); /* 14px */

  /* Font Weight */
  --fw-regular: 400;

  /* Line height */
  --lh-base: 1;

  /* Spacing */
  --s-0: 0;
  --s-base: 1em; /* 16px */
  --s-xxs: calc(0.25 * var(--s-base)); /* 4px */
  --s-xs: calc(0.5 * var(--s-base)); /* 8px */
  --s-s: calc(0.75 * var(--s-base)); /* 12px */
  --s-m: calc(0.875 * var(--s-base)); /* 14px */
  --s-l: calc(1.5 * var(--s-base)); /* 24px */

  /* Box shadows */
  --bs-input: 0px 3px 9px var(--c-lighter);
  --bs-input-hover: inset 0 0 0 1px var(--c-light);

  /* Border radius */
  --br-base: 1em; /* 16px */
  --br-xxs: calc(0.25 * var(--br-base)); /* 4px */

  /* Z Index */
  --zi-dropdown-overlay: 10;
  --zi-dropdown-content: 20;
}

html {
  box-sizing: border-box;
  font-size: var(--fs-base);
  line-height: var(--lh-base);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--c-dark);
  font-family: var(--ff-body);
  margin: var(--s-0);

  /* For presentation */
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-left: var(--s-base);
  padding-right: var(--s-base);
}

#root {
  @media (max-width: 768px) {
    width: 100%;
  }
}

// https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}
